<!-- templates/contribute.html -->


{% extends "base.html" %}

{% block content %}
<div class=" container">
    <div class=" row">
        <div class="col">
            <h1>Upload Image</h1>
            <hr>
            <form action="/contribute" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select Image</label>
                    <div class="custom-file">
                        <input oninput="filesize(this);" type="file" class="custom-file-input" name="video" id="video">
                        <label class="custom-file-label" for="video"> Select Image</label>
                    </div>
                </div>

                <button type="submit" class=" btn btn-primary" style="height:50px;width:120px"> Upload Image</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function filesize(elem){
        console.log(elem)
    }

</script>
{% endblock %}