<!-- templates/contribute.html -->


{% extends "base.html" %}

{% block content %}
<h1 style="font-size: 40px; position: absolute; top: -200px;left: 490px;font-weight: bold">Upload une vidéo</h1>
<img src="/static/video_logo.png" width="100"  height="100" style="position: absolute; top: -120px; left: 620px">
<div class=" container">
    <div class=" row">
        <div class="col">


            <form action="/contribuer" method="post" enctype="multipart/form-data">

                <div class="form-group">

                    <div class="custom-file">
                        <label> <br> <br> </label>
                        <label style="margin-right: 50px">Entrez le mot ou l'expression correspondant :</label>
                        <input style="margin-right: 100px" type="text" name="videoword" id="videoword" value=""/>
                        <label><br><br></label>
                        <label style="margin-right: 20px">Choisir votre vidéo :</label>
                        <input oninput="filesize(this);" type="file" class="custom-file-input" name="video" id="video" style="margin-right: -130px;border-radius: revert">
                    </div>
                    <label style="font-weight: bold" id="ipt">{{text}}<br><br></label>
                </div>

                <button type="submit" class=" btn btn-primary" style="font-size:20px;height:50px;width:120px"> Upload</button>


                <script>
                    function exe(){
                    document.getElementById("ipt").innerHTML=JSON.stringify('{{text}}');
                    }
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function filesize(elem){
        console.log(elem)
    }

</script>
{% endblock %}