<!-- templates/contribute.html -->


{% extends "base.html" %}

{% block content %}
<div class=" container">
    <div class=" row">
        <div class="col">
            <h1>Upload une vidéo</h1>
            <hr>
            <form action="/contribuer" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Déposez votre vidéo</label>
                    <div class="custom-file">
                        <input oninput="filesize(this);" type="file" class="custom-file-input" name="video" id="video">
                        <label class="custom-file-label" for="video"> Selectionnez une Video</label>
                    </div>
                    <label id="ipt">{{text}}</label>
                </div>

                <button type="submit" class=" btn btn-primary" style="height:50px;width:120px"> Upload la Video</button>


                <script>
                    function exe(){
                    document.getElementById("ipt").innerHTML=JSON.stringify('{{text}}');
                    }
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

    function filesize(elem){
        console.log(elem)
    }

</script>
{% endblock %}