<!-- templates/contribute.html -->

{% extends "base.html" %}

{% block content %}

<h2 style= "margin-bottom: 50px; text-align: left;color: #222222 ; font-size: 40px"><strong>Mentions légales</strong></h2>
<h1 style= " margin-bottom: 25px;text-align: left"><strong>Site utilisé dans le cadre d'un projet en école ingénieure INSA de Lyon</strong></h1>

<h2 style= "text-align: left; color: #222222 ; font-size: 30px">Crédits</h2>
<h1 style= " text-align: left">Thème à partir du design de Lahlou Nada</h1>
<h1 style= " text-align: left">Développement et gestion du site web : </h1>
<h1 style= " text-align: left">Crédits photographiques :</h1>

<h2 style= "text-align: left; color: #222222 ; font-size: 30px">Mentions légales</h2>

<p style= " text-align: left">Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
Arrêté du 30 novembre 2006 portant création, au sein du ministère de l'éducation nationale, de l'enseignement supérieur et de la recherche, d'un traitement de données à caractère personnel relatif aux espaces numérique de travail (ENT).

Vous pouvez, conformément à l'article 34 de la Loi, disposer d'un droit d'accès aux informations qui vous concernent.
Vous pouvez aussi demander la modification ou la suppression de ces informations en écrivant à : nada.lahlou@insa-lyon.fr
</p>

{% endblock %}